.wrapper

  = render 'shared/side_bar'

  


  .chat
    .header
      .left-header
        .left-header__title
          %h2
          = @group.name
        %ul.left-header__members
          %p Member :
          - @group.users.each do |username|
            %span
            = username.name

      .right-header
        = link_to edit_group_path(@group) do
          Edit
    =render 'main_chat'    
    
        